{# templates/home.html.twig #}

{# Template de la page d'accueil de l'application #}

{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Site de Voyage{% endblock %}

{% block main %}

<link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <div class=""banner">
</div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="https://img.freepik.com/icones-gratuites/avion-silhouette-noire-decoller-ios-7-symbole-d-39-interface_318-35541.jpg?size=338c&ext=jpg" alt="logo" style="width:40px;">
        </a>
        <h1 class="text-white"> Site de voyage</h1>
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href=home">Circuits</a>
            </li>
        </ul>
    </nav>

<p>{{ welcome }}</p>

</div>

<div class="btn-group">
<div class="dropdown">
    <a href="home"><button type="button" class="btn btn-primary">Circuits</button></a>

    </div>
</div>
</div>






{% endblock %} {# main #}

